{% extends 'base.html' %}

{% block title %}
Checkout
{% endblock title %}
{% block body %}



<!-- Start Checkout -->
<section class="shop checkout section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-12">
				<div class="checkout-form">
					<h2>Make Your Checkout Here</h2>
					<p>Please register in order to checkout more quickly</p>
					<!-- Form -->
					<form id="form-id" class="form" method="post" action="#">


						<div class="row">

							<div id="user-info" class="row">


								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<label> Name<span>*</span></label>
										<input type="text" name="fname" placeholder="" required="required">
									</div>
								</div>
						
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<label>Email Address<span>*</span></label>
										<input type="email" name="email" placeholder="" required="required">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<label>Phone Number<span>*</span></label>
										<input type="number" name="phone" placeholder="" required="required">
									</div>
								</div>
							</div>


							<div id="shipping-info" class="row">

								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<label>Country<span>*</span></label>
										<input type="text" name="country_name" id="country" placeholder="" required="required">
									</div>
								</div>
								
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<label>City<span>*</span></label>
										<input type="text" name="city" id="city" placeholder="" required="required">
									</div>
								</div>
								
								


								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<label>Address Line 1<span>*</span></label>
										<input type="text" name="address1" placeholder="" required="required">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<label>Address Line 2<span>*</span></label>
										<input type="text" name="address2" placeholder="" required="required">
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<label>Postal Code<span>*</span></label>
										<input type="text" name="postalcode" placeholder="" required="required">
									</div>
								</div>

							</div>



							<div class="col-12">
								<div class="form-group create-account">
									<input id="cbox" type="checkbox">
									<label>Create an account?</label>
								</div>
							</div>
						</div>





					</form>
					<!--/ End Form -->
				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="order-details">
					<!-- Order Widget -->
					<div class="single-widget">
						<h2>CART TOTALS</h2>
						<div class="content">
							<ul>
								<li>Total Items<span>{{order.get_cart_items}}</span></li>
								<li>Sub Total<span>{{order.get_cart_total}}</span></li>
								<li>(+) Shipping<span>$10.00</span></li>
								<li class="last">Total<span>{{order.get_cart_total}}</span></li>
							</ul>
						</div>
					</div>
					<!--/ End Order Widget -->
					<!-- Order Widget -->
					<div class="single-widget">
						<h2>Payments</h2>
						<div class="content">
							<div class="checkbox">
								<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox"> Cash
									On Delivery</label>
							</div>
						</div>
					</div>
					<!--/ End Order Widget -->
					<!-- Payment Method Widget -->
					<div class="single-widget payement">
						<div class="content">
							<img src="images/payment-method.png" alt="#">
						</div>
					</div>
					<!--/ End Payment Method Widget -->










					<!-- Button Widget -->
					<div class="single-widget get-button ">
						<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
						<div class="content ">
							<div id="proceed-checkout" class="button hidden">
								<a href="#" class="btn">proceed to checkout</a>
							</div>
						</div>
					</div>
					<!--/ End Button Widget -->




				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End Checkout -->

<!-- Start Shop Services Area  -->
<section class="shop-services section home">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-rocket"></i>
					<h4>Free shiping</h4>
					<p>Orders over $100</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-reload"></i>
					<h4>Free Return</h4>
					<p>Within 30 days returns</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-lock"></i>
					<h4>Sucure Payment</h4>
					<p>100% secure payment</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-tag"></i>
					<h4>Best Peice</h4>
					<p>Guaranteed price</p>
				</div>
				<!-- End Single Service -->
			</div>
		</div>
	</div>
</section>
<!-- End Shop Services -->

<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
	<div class="container">
		<div class="inner-top">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 col-12">
					<!-- Start Newsletter Inner -->
					<div class="inner">
						<h4>Newsletter</h4>
						<p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
						<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
							<input name="EMAIL" placeholder="Your email address" required="" type="email">
							<button class="btn">Subscribe</button>
						</form>
					</div>
					<!-- End Newsletter Inner -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Shop Newsletter -->



<script type="text/javascript">
	var shipping = '{{order.shipping}}'
	var total = '{{order.get_cart_total}}'
	if (shipping == 'False') {
		document.getElementById('shipping-info').innerHTML = ''
	}

	if (user != 'AnonymousUser') {
		document.getElementById('user-info').innerHTML = ''
	}

	if (shipping == 'False' && user != 'AnonymousUser') {
		document.getElementById('form-id').classList.add('hidden');
		document.getElementById('proceed-checkout').classList.remove('hidden');
	}


	var form = document.getElementById('form-id')

	form.addEventListener('submit', function (e) {
		e.preventDefault()
		console.log("form submitted")

		document.getElementById("form-button").classList.add("hidden");
		document.getElementById("proceed-checkout").classList.remove("hidden");

	})

	document.getElementById('proceed-checkout').addEventListener('click', function (e) {
		submitFormData()
	})

	function submitFormData() {
		console.log("payment confirmed....")

		var userformData = {
			'fname': null,
			'email': null,
			'phone': null,
			'total': total
		}


		var shippinginfo = {
			'country_name': null,
			'city': null,
			'address1': null,
			'address2': null,
			'postalcode': total
		}

		if (shipping != 'False') {
			shippinginfo.country_name = form.country_name.value
			shippinginfo.city = form.city.value
			shippinginfo.address1 = form.address1.value
			shippinginfo.address2 = form.address2.value
			shippinginfo.postalcode = form.postalcode.value
		}

		if (user == 'AnonymousUser') {
			userformData.fname = form.fname.value
			userformData.email = form.email.value
			userformData.phone = form.phone.value
		}

		var url = '/process_order/'
		fetch(url, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'X-CSRFToken': csrftoken,
			},
			body: JSON.stringify({ 'form': userformData, 'shipping': shippinginfo })
		})
			.then((response) => {
				return response.json()
			})
			.then((data) => {
				console.log('success data:', data);
				alert("order complete");
				cart={}
			    document.cookie='cart=' + JSON.stringify(cart) + ";domain=;path=/"
				window.location.href="{% url 'home' %}"
				
			})



	}

</script>

{% endblock body %}